.sessao-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 40px 0;
}

.card-info {
    width: calc(25% - 20px);
    height: 150px;
    border-radius: 10px;
    background-color: #2d2e30;
    color: #9fe767;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #9fe767;
}

.card-info h4 {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.modal-setor {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #2d2e30;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.edit-btn, .delete-btn {
    background-color: #2d2e30;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
    box-sizing: border-box;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #9fe767;
    color: #2d2e30;
}

#confirm-delete-modal {
    display: none; 
    position: fixed; 
    z-index: 1050; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding-top: 100px;
}

.confirm-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Largura do modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

#confirm-delete-btn, #cancel-delete-btn {
    background-color: #9fe767;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

#confirm-delete-btn:hover, #cancel-delete-btn:hover {
    background-color: #45a049;
}

#cancel-delete-btn {
    background-color: #dc3545;
}

#cancel-delete-btn:hover {
    background-color: #c82333;
}
